PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/life_planner?schema=public"
API_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173
BETTER_AUTH_SECRET="dev-secret-change-me-use-openssl-rand-base64-32"
